<% provide(:title, "About") %>

<h1>About</h1> 
<h3>
	<%= link_to "home", "/static_pages/home" %>
	<%= link_to "help", "/static_pages/help" %>
</h3>

<p>The <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/", target: "_blank" %> is a 
<%= link_to "book", "http://www.railstutorial.org/book", target: "_blank" %> and <%= link_to "screencast series", "http://screencasts.railstutorial.org/" %> to teach web development with
<%= link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank" %> <br/> This is the sample application for this tutorial.
</p>
